{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Delete</h1>
<hr>

<div class="container"
     style="background: linear-gradient(blueviolet,darkgray);
            height: 400px;
            width: 500px;
            padding: 30px;
            border: 2px solid black;">

  <p>
    <strong>
      {{ emp.name }} <br>
      {{ emp.email }} <br>
      {{ emp.role }} <br>
      {{ emp.department }}
    </strong>
  </p>

  <br>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm">
      Yes, Delete
    </button>

    <a href="{% url 'view' %}" class="btn btn-light btn-sm">
      Cancel
    </a>
  </form>
</div>
{% endblock %}
