{% extends 'base.html' %}

{% block content %}
<h1 class="text-center"> List</h1><hr>

<table class="table table-striped-columns" style="background-color: blueviolet;border-color: black;border: width 2cm;height: 400px;width: 700px;margin-left: 340px;border: 2px solid black;">
  <tr>
    <th style="background-color: blueviolet;">Name</th>
    <th style="background-color: blueviolet;">Email</th>
    <th style="background-color: blueviolet;">Role</th>
        
<th style="background-color: blueviolet;"> Department</th>

  </tr>
  {% for e in emp %}
  <tr>
    <td >{{ e.name }}</td>
    <td>{{ e.email }}</td>
        <td>{{ e.role }}</td>

<td>{{ e.department }}</td>

  {% endfor %}
</table>
{% endblock %}
